<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <h5 class="col-12 tituloformulario">Hardware</h5>
    </div>
    <div class="row mt-3">
        <!--Tipo lista Servidor-->
        <div class="col-sm-4 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar Servidor" #IdServidorCons  [(ngModel)]="IdServidorConsult"
            (change)='ConsultaHardware(IdServidorCons.value, Procesador.value, DiscoDuro.value, RAM.value)'>
                <option value="0" selected>Seleccione servidor</option>
                <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Ayuda Procesador-->
        <div class="col-sm-8 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" #Procesador placeholder="Procesador" title="Procesador" [(ngModel)]="LblProcesador"
            (keyup)="ConsultaHardware(IdServidorCons.value, Procesador.value, DiscoDuro.value, RAM.value)">
        </div>
        <!--Fin Procesador-->

        <!--Ayuda DiscoDuro-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" #DiscoDuro placeholder="Disco Duro" [(ngModel)]="LblDiscoDuro" title="Disco Duro"
            (keyup)="ConsultaHardware(IdServidorCons.value, Procesador.value, DiscoDuro.value, RAM.value)">
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Ram-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" #RAM placeholder="RAM" title="RAM"
            (keyup)="ConsultaHardware(IdServidorCons.value, Procesador.value, DiscoDuro.value, RAM.value)">
        </div>
        <!--Fin ayuda-->

        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" title="Limpiar" (click)="Limpiar()">
                <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                Limpiar
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Descargar PDF">
                <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png" class="BtnimgTamanoPeque mr-2">
                Descargar PDF
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Exportar Excel">
                <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png" class="BtnimgTamanoPeque mr-2">
                Descarga excel
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Nuevo" (click)="BtnNuevo(templateAgregar)">
                <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>
        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="col-sm-12 mt-5">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="5">Hardware servidores</th>
                </tr>
                <tr>
                    <th class="cursorPointer">Nombre servidor</th>
                    <th class="cursorPointer">Disco duro</th>
                    <th class="cursorPointer">Memoria RAM</th>
                    <th class="cursorPointer">Procesador</th>
                    
                    <th>Editar</th>
                </tr>
                <tr *ngFor="let ArGrilla of ArrayConsulta">
                    <td>{{ArGrilla.NombreServidor}}</td>
                    <td>{{ArGrilla.DiscoDuro}}</td>
                    <td>{{ArGrilla.RAM}}</td>
                    <td>{{ArGrilla.Procesador}}</td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Editar">
                            <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--fin Grilla-->
    </div>
</div>

<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateAgregar>
    <div class="modal-header">
        <th class="titulopopup">AGREGAR</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalAgregar.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalAgregar.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>