<div class="container bg-white pt-5 pb-5">

    <div class="row">

        <div class="col-6 justify-content-center ">
            <p class="tituloformulario">ROL</p>
        </div>

        <div class="col-6 justify-content-center">
            <p class="tituloformulario">INFORMACIÓN ROL</p>
        </div>

        <div class="col-sm-6 m-0 mb-5 displayFlexbetween">
            <select class="form-select" title="Seleccionar un rol" #SeleccionarRol [(ngModel)]="IdRol"
                (change)='ListaPermisosRol(IdRol)'>
                <option value="0" selected>Seleccione rol...</option>
                <option value="{{arRespu.IdRol}},{{arRespu.NombreRol}}" *ngFor="let arRespu of ArrRoles">
                    {{arRespu.NombreRol}}</option>
            </select>
            <div class="col-1" style="margin-left: 5px;">
                <button id="pass" class="bot BtnimgTamano" title="Agregar un nuevo rol"
                    (click)="AbrirPopap(templateAgregarRol)">
                    <img class="BtnimgTamano" src="../../../../assets/ImagenesAdminCDI/AgregarServicio.png">
                </button>
            </div>
        </div>

        <div class="col-sm-6 m-0 mb-5 displayFlexbetween">
            <input type="text" class="form-control table-bordered" readonly title="Nombre del rol actual"
                [(ngModel)]="Rol">

            <div class="col-1" style="margin-left: 5px;">
                <button id="pass" class="bot BtnimgTamano" title="Guardar información" (click)="EditaRol()">
                    <img class="BtnimgTamano" src="../../../../assets/ImagenesAdminCDI/disquete.png">
                </button>
            </div>
        </div>
        <!--Titulos-->


        <div class="col-sm-12 m-0 mb-3 displayFlexbetween">
            <p class="tituloformulario">PERMISOS MÓDULO</p>
        </div>
        <div class="row col-6 mb-3" *ngFor="let ArrR of ArrRol">
            <div class="col-sm-1 m-0 mb-3 displayFlexbetween text-center">
                <input type="checkbox" class="mt-1 m-auto" [checked]="ArrR.PermisoRol == '1'">
            </div>
            <div class="col-sm-11">
                <p class="tituloformulario">{{ArrR.ModuloPadre}}</p>
            </div>

            <div *ngFor="let arRespu of ArrPermisoRol; index as i">
                <div *ngIf="arRespu.Padre == ArrR.Padre">
                    <div class="row col-sm-12 mb-2 displayFlexbetween">
                        <div class="col-sm-1 mt-1 text-center">
                            <input type="checkbox" class="mt-2 m-auto" (change)="ModificaRol(arRespu, i)" id="{{i}}" [checked]="arRespu.EstadoPermiso == '1'">
                        </div>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" disabled value="{{arRespu.NombreModulo}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateAgregarRol>
    <div class="row col-12 m-3 ">
        <p class="titulopopup text-center col-sm-10">INSERTAR ROL</p>
        <div class="col-sm-2">
            <button type="button" class="bot" aria-label="Close" (click)="modalNuevoRol.hide();">
                <img id="imgActual" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
            </button>
        </div>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3">
            <li class="row col-sm-12 espacioul" style="width: 100%">
                <div class="col-sm-12">
                    <p>Escriba el rol a agregar</p>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" [(ngModel)]="NombreRol">
                </div>
                <div class="col-sm-0 mt-2" style="justify-content: center; align-items: center;">
                    <button class="col-sm-3 btn btn-dark" style="margin: auto;"
                        (click)="NuevoRol(templateMensaje)">Guardar</button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>