<div class="container bg-white pt-5 pb-5">

    <div class="row">

        <div class="col-6 justify-content-center ">
            <p class="tituloformulario">ROL</p>
        </div>

        <div class="col-6 justify-content-center">
            <p class="tituloformulario">INFORMACIÓN ROL</p>
        </div>

        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <select class="form-select" title="Seleccionar un rol">
                <option value="0" selected>Seleccione rol...</option>
            </select>
            <div class="col-1" style="margin-left: 5px;">
                <button id="pass" class="bot BtnimgTamano" title="Agregar un nuevo rol">
                    <img class="BtnimgTamano" src="../../../../assets/ImagenesAdminCDI/AgregarServicio.png">
                </button>
            </div>
        </div>

        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" readonly title="Nombre del rol actual">

            <div class="col-1" style="margin-left: 5px;">
                <button id="pass" class="bot BtnimgTamano" title="Agregar un nuevo rol">
                    <img class="BtnimgTamano" src="../../../../assets/ImagenesAdminCDI/ojo.png">
                </button>
            </div>
        </div>
    </div>
</div>