<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <p class="col-12 tituloformulario">BACKUPS</p>
    </div>
    <div class="row mt-3">
        <!--Ayuda IP-->
        <div class="col-sm-6 m-0 mb-3">
            <Label class="Llave">IP</Label>
            <input type="text" class="form-control table-bordered" #Ip  title="IP" [(ngModel)]="LblIp"
                (keyup)="Grilla(Ip.value, Nombre.value, SelecioneProyecto.value)">

        </div>
        <!--Fin ayuda-->
       
        <!--Tipo lista-->
        <div class="col-sm-6 m-0 mb-3 ">
            <label class="Llave">Proyecto</label>
            <select class="form-select" title="Seleccionar proyecto" [(ngModel)]="IdCliente" #SelecioneProyecto
                (change)='Grilla(Ip.value, Nombre.value, SelecioneProyecto.value)'>
                <option value="0" selected>Seleccione proyecto</option>
                <option value="{{arRespu.Id_PRY}}" *ngFor="let arRespu of ArregloListaCliente">{{arRespu.Nombre}}
                </option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Ayuda Nombre-->
        <div class="col-sm-12 m-0 mb-3">
            <label class="Llave">Nombre</label>
            <input type="text" class="form-control" #Nombre title="Nombre backup"
                [(ngModel)]="NombreBCK"
                (keyup)="Grilla(Ip.value, Nombre.value, SelecioneProyecto.value)">
        </div>
        <!--Fin ayuda-->
        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" title="Limpiar" (click)="Limpiar()">
                <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                Limpiar
            </button>

            <button *ngIf="ArregloGrilla.length > 0" class="btn btn-dark col-sm-2 mrd" title="Descargar PDF"
                (click)="DescargarDatosPdf()">
                <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png" class="BtnimgTamanoPeque mr-2">
                Descargar PDF
            </button>

            <button *ngIf="ArregloGrilla.length > 0" class="btn btn-dark col-sm-2 mrd" title="Exportar Excel"
                (click)="BtnExportarExcel(templateMensaje)">
                <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png" class="BtnimgTamanoPeque mr-2">
                Descarga excel
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Nuevo" (click)="BtnNuevo(templateAgregar)">
                <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>
        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="col-sm-12 mt-5">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="10">BACKUPS</th>
                </tr>
                <tr>
                    <th (click)="OrdenarIpServidor()" class="cursorPointer">IP</th>
                    <th (click)="OrdenarNombre()" class="cursorPointer">NOMBRE</th>
                    <th (click)="OrdenarNombreProyecto()" class="cursorPointer">PROYECTO</th>
                    <th (click)="OrdenarAmbiente()" class="cursorPointer">AMBIENTE</th>
                    <th (click)="OrdenarDescripcion()" class="cursorPointer">TIPO</th>
                    <th (click)="OrdenarPeriodicidad()" class="cursorPointer">PERIODICIDAD</th>
                    <th (click)="OrdenarUsuarioModifi()" class="cursorPointer">FECHA ÚLTIMO BCK</th>
                    <th (click)="OrdenarFecha_Ult_Mod()" class="cursorPointer">FECHA PRÓXIMO BCK</th>
                    <th>EDITAR</th>
                    <th>REGISTRAR BCK</th>
                    <th>ELIMINAR</th>
                </tr>
                <tr *ngFor="let ArGrilla of ArregloGrilla">
                    <td>{{ArGrilla.IpServidor}}</td>
                    <td>{{ArGrilla.Nombre}}</td>
                    <td>{{ArGrilla.NombreProyecto}}</td>
                    <td>{{ArGrilla.Ambiente}}</td>
                    <td>{{ArGrilla.Descripcion}}</td>
                    <td>{{ArGrilla.Periodicidad}}</td>
                    <td>dd/mm/aaa</td>
                    <td>dd/mm/aaa</td>
                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Editar"
                            (click)="Editarbackup(templateEditarBackup, ArGrilla)">
                            <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Ver"
                            (click)="VerDetalle(templateVerDetalles, ArGrilla)">
                            <img src="../../../../assets/ImagenesAdminCDI/ojo.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Eliminar"
                            (click)="EliminarRegBCK(templateMensaje, ArGrilla)">
                            <img src="../../../../assets/ImagenesAdminCDI/basura.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--fin Grilla-->
    </div>
</div>

<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateAgregar>
    <div class="modal-header">
        <p class="titulopopup">AGREGAR BACKUP</p>
        <button type="button" class="bot" aria-label="Close" (click)="modalAgregar.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">

                <div class="col-6 mt-3">
                    <label class="Llave">Nombre backup</label>
                    <input type="text" value="" class="col-sm-6 form-control"
                        title="Nombre Kackup" [(ngModel)]="LblAgregarNombre" required>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Seleccione proyecto</label>
                    <select class="form-select" title="Seleccionar proyecto" [(ngModel)]="IdAgregarCliente" required>
                        <option value="0">Seleccione proyecto...</option>
                        <option value="{{arRespu.Id_PRY}}" *ngFor="let arRespu of ArregloListaCliente">
                            {{arRespu.Nombre}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Ambiente</label>
                    <input type="text" value="" class="col-sm-6 form-control"
                        title="Ambiente" [(ngModel)]="LblAgregarAmbiente" required>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Seleccione periodicidad</label>
                    <select class="form-select" title="Seleccione periodicidad" [(ngModel)]="LblAgregarPeriodicidad"
                        required>
                        <option value="0">Seleccione periodicidad...</option>
                        <option value="DIARIO">DIARIO</option>
                        <option value="VIERNES">VIERNES</option>
                        <option value="QUINCENAL">QUINCENAL</option>
                        <option value="MENSUAL">MENSUAL</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Seleccionar servidor</label>
                    <select class="form-select" title="Seleccionar servidor" [(ngModel)]="IdAgregarServidor" required>
                        <option value="0">Seleccione servidor...</option>
                        <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Seleccionar el tipo backup</label>
                    <select class="form-select" title="Seleccionar el tipo backup" [(ngModel)]="IdAgregarTipoBackup"
                        required>
                        <option value="0">Seleccione tipo backup...</option>
                        <option value="{{arRespu.Id_Tipo_BCK}}" *ngFor="let arRespu of ArregloListaTipoBackup">
                            {{arRespu.Descripcion}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Ruta</label>
                    <input type="text" value="" class="col-sm-6 form-control"
                        title="Ruta" [(ngModel)]="RutaAgregar" required>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Estado</label>
                    <select class="form-select" title="Estado" [(ngModel)]="EstadoAgregar"
                        required>
                        <option value="0">Seleccione el estado...</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>
                <div class="col-12 mt-3">
                    <label class="Llave">Descripción</label>
                    <textarea type="text" value="" class="col-sm-6 form-control" [(ngModel)]="DescripcionAgregar"
                        title="Descripción"></textarea>
                </div>

                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar" (click)="AgregarBck(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalAgregar.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>



<ng-template #templateVerDetalles let-modal>
    <div class="modal-header">
        <div class="row col-sm-11 text-center titulopopup">
            <div class="col-sm-3">
                {{IpBackupVer}}
            </div>
            <div class="col-sm-3">
                {{NombreBackupVer}}
            </div>
            <div class="col-sm-3">
                {{PeriodicidadVer}}
            </div>
        </div>
        <div class="col-sm-1">
            <button type="button" class="bot" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png"
                    class="btnEquis">
            </button>
        </div>

    </div>
    <div class="mrd mld" id="htmlData_">
        <div class="row texto text-center">
            <div class="col-sm-8 mt-3">
                <textarea id="form10" class="md-textarea form-control textarea" placeholder="Observaciones" rows="3"
                    [(ngModel)]="LblObservaciones"></textarea>
            </div>
            <div class="col-sm-4 mt-3">
                <select class="form-select mt-3" placeholder="Estado" [(ngModel)]="IdEstado">
                    <option value="2">Seleccione estado</option>
                    <option value="0">Error</option>
                    <option value="1">Exitoso</option>
                </select>
            </div>
        </div>
        <div class="row Texto text-center">
            <div class="row displayCenter col-12 mt-3 p-3">
                <button class="btn btn-dark col-sm-3 mrd" title="Guardar"
                    (click)="AgregarRegistroBackup(templateMensaje)">
                    <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                    Guardar
                </button>
                <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modal.dismiss('Cross click')">
                    <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                    Cancelar
                </button>
            </div>
        </div>

        <div class="row texto text-center">
            <div class="col-sm-12 mt-3">
                <table class="table table-bordered text-center tablaAjuste">
                    <tr style="background-color: teal; color: #000000;">
                        <th colspan="5">REGISTRO BACKUPS</th>
                    </tr>
                    <tr>
                        <th class="cursorPointer">FECHA</th>
                        <th class="cursorPointer">ESTADO</th>
                        <th class="cursorPointer">OBSERVACIONES</th>
                        <th class="cursorPointer">USUARIO</th>
                        <th>ELIMINAR</th>
                    </tr>
                    <tr *ngFor="let ArGrilla of ArregloGrillaReguistroBck">
                        <td>{{ArGrilla.Fecha}}</td>
                        <td *ngIf="ArGrilla.Estado == 1">Exitoso</td>
                        <td *ngIf="ArGrilla.Estado == 0">Error</td>
                        <td>{{ArGrilla.Observaciones}}</td>
                        <td>{{ArGrilla.Nombre}}</td>
                        <td class="text-center">
                            <button class="BtnClaro mrd m-auto text-center" title="Eliminar"
                                (click)="EliminarRegistroBakup(templateMensaje, ArGrilla)">
                                <img src="../../../../assets/ImagenesAdminCDI/basura.png"
                                    class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">--------------------------------------------------------------------</td>
                    </tr>
                    <tr>
                        <th colspan="4">CLICK ELIMINAR TODOS LOS REGISTROS = </th>
                        <td>
                            <button class="BtnClaro mrd m-auto text-center" title="Eliminar todos los registros"
                                (click)="EliminarRegistrosBakup(templateMensaje, ArregloGrillaReguistroBck[0].Id_BCK)">
                                <img src="../../../../assets/ImagenesAdminCDI/basura.png"
                                    class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateEditarBackup>
    <div class="modal-header">
        <p class="titulopopup">EDITAR BACKUP</p>
        <button type="button" class="bot" aria-label="Close" (click)="modalVer.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-sm-6 mt-3">
                    <label class="Llave">Nombre backup</label>
                    <input type="text" value="" class="col-sm-6 form-control"
                        title="Nombre Kackup" [(ngModel)]="NombreBackup">
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="Llave">Seleccionar proyecto</label>
                    <select class="form-select" title="Seleccionar proyecto" [(ngModel)]="IdClientee">
                        <option *ngFor="let arRespu of ArregloListaCliente" value="{{arRespu.Id_PRY}}">
                            {{arRespu.Nombre}}</option>
                    </select>
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="Llave">Ambiente</label>
                    <input type="text" value="" class="col-sm-6 form-control"
                        title="Ambiente" [(ngModel)]="Ambiente">
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="Llave">Seleccione periodicidad</label>
                    <select class="form-select" title="Seleccione periodicidad" [(ngModel)]="Periodicidad">
                        <option value="DIARIO">DIARIO</option>
                        <option value="VIERNES">VIERNES</option>
                        <option value="QUINCENAL">QUINCENAL</option>
                        <option value="MENSUAL">MENSUAL</option>
                    </select>
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="Llave">Seleccionar servidor</label>
                    <select class="form-select" title="Seleccionar servidor" [(ngModel)]="IdServidor">
                        <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}
                        </option>
                    </select>
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="Llave">Seleccionar tipo backup</label>
                    <select class="form-select" title="Seleccionar el tipo backup" [(ngModel)]="IdTipoBackup">
                        <option value="{{arRespu.Id_Tipo_BCK}}" *ngFor="let arRespu of ArregloListaTipoBackup">
                            {{arRespu.Descripcion}}</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Ruta</label>
                    <input type="text" value="" class="col-sm-6 form-control" [(ngModel)]="RutaEdit"
                        title="Ruta" required>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Estado</label>
                    <select class="form-select" title="Estado"  [(ngModel)]="EstadoEdit"
                        required>
                        <option value="0">Seleccione el estado...</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>
                <div class="col-12 mt-3">
                    <label class="Llave">Descripción</label>
                    <textarea type="text" value="" class="col-sm-6 form-control" [(ngModel)]="DescripcionEdit"
                        title="Descripción"></textarea>
                </div>
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar" (click)="UpdateBck(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalVer.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>