<div class="row mt-3 col-11 TresD" style="justify-content: center; text-align: center; margin: auto;">
    <div class="col-7">
        <img src="../../../assets/ImagenesAdminCDI/ImgEtb.jpg">
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-12">
                <p class="negrita">SERVIDORES ETB</p>
            </div>
            <div class="col-12 Rac">
                <p style="text-align: justify;">
                    <span class="negrita">R1-09-Z2</span><br>
                    <span class="negrita">Serial :</span> 2M202401U6<br>
                    <span class="negrita">Discos :</span> C: 3.79 disponibles de 136 E: 172 disponibles de 279 se
                    recomienda liberar espacio disco C
                    ya que puede verse afectado el rendimiento.<br>
                    <span class="negrita">Memoria RAM :</span> 18 GB<br>
                    <span class="negrita">Sistema oprerativo :</span> Server 2008 R2 enterprise x64<br>
                    <span class="negrita">Procesador :</span> Intel Xeon E5530 2.40GHz<br>
                    <span class="negrita">Fuentes :</span> sin alarmas<br>
                    <span class="negrita">Discos :</span> alarma en disco 1 necesario cambio!<br>
                    <span class="negrita">Red :</span> sin alarmas<br>
                    <span class="negrita">Visor de sucesos :</span> multiples intentos de inicio de session en horas no
                    operativas. *Cd1$0f7)
                </p>
            </div>
            <div class="col-12 Rac">
                <p style="text-align: justify;">
                    <span class="negrita">R1-09-Z2</span><br>
                    <span class="negrita">Serial :</span> 2M202401U6<br>
                    <span class="negrita">Discos :</span> C: 3.79 disponibles de 136 E: 172 disponibles de 279 se
                    recomienda liberar espacio disco C
                    ya que puede verse afectado el rendimiento.<br>
                    <span class="negrita">Memoria RAM :</span> 18 GB<br>
                    <span class="negrita">Sistema oprerativo :</span> Server 2008 R2 enterprise x64<br>
                    <span class="negrita">Procesador :</span> Intel Xeon E5530 2.40GHz<br>
                    <span class="negrita">Fuentes :</span> sin alarmas<br>
                    <span class="negrita">Discos :</span> alarma en disco 1 necesario cambio!<br>
                    <span class="negrita">Red :</span> sin alarmas<br>
                    <span class="negrita">Visor de sucesos :</span> multiples intentos de inicio de session en horas no
                    operativas. *Cd1$0f7)
                </p>
            </div>
        </div>
    </div>
    <!--Para descargar formatos-->
    <div class="row mt-4" style="margin-bottom: 50px;">
        <table class="table table-bordered" style="justify-content: center; text-align: center; margin: auto;">
            <tr>
                <th colspan="3">Formatos</th>
            </tr>
            <tr>
                <th>Ingreso personal</th>
                <th>Ingreso de equipos</th>
                <th>Retiro de equipos</th>
            </tr>
            <tr>
                <th><a href="" class="link-success">Descargar formato ingreso personal</a></th>
                <th><a href="" class="link-success">Descargar formato ingreso de equipos</a></th>
                <th><a href="" class="link-success">Descargar formato retiro de equipos</a></th>
            </tr>
        </table>
    </div>
</div>