<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <p class="col-12 tituloformulario">ADMIN PUBLICACIONES</p>
    </div>
    <div class="row mt-3">
        <!--Tipo lista Estado-->
        <div class="col-sm-12 m-0 mb-3 ">
            <label class="Llave">Tipo</label>
            <select class="form-select" title="Seleccionar Tipo" [(ngModel)]="selectTipo" #SelecTipo
                (change)='Grilla(SelecTipo.value, Ip.value, Estado.value)'>
                <option value="0" selected>Seleccionar Tipo</option>
                <option value="1">Base de datos</option>
                <option value="2">Aplicaciones</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Ayuda Nombre-->
        <div class="col-sm-6 m-0 mb-3">
            <label class="Llave">Ip</label>
            <input type="text" class="form-control table-bordered" title="IP" #Ip [(ngModel)]="LblIP"
                (keyup)="Grilla(SelecTipo.value, Ip.value, Estado.value)">
        </div>
        <!--Fin ayuda-->
        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <label class="Llave">Estado</label>
            <select class="form-select" title="Seleccionar Estado" #Estado [(ngModel)]="SelectEstado"
                (change)='Grilla(SelecTipo.value, Ip.value, Estado.value)'>
                <option value="0" selected>Seleccionar Estado</option>
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" title="Limpiar" (click)="LimpiarFiltros()">
                <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                Limpiar
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Descargar PDF">
                <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png" class="BtnimgTamanoPeque mr-2">
                Descargar PDF
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Exportar Excel">
                <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png" class="BtnimgTamanoPeque mr-2">
                Descarga excel
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Nuevo" (click)="BtnAgregar(templateAgregar)">
                <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>
        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="col-sm-12 mt-5">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="12">PUBLICACIONES</th>
                </tr>
                <tr>
                    <th class="cursorPointer">TIPO</th>
                    <th class="cursorPointer">IP</th>
                    <th class="cursorPointer">NOMBRE</th>
                    <th class="cursorPointer">DESCRIPCIÓN</th>
                    <th class="cursorPointer">ESTADO</th>
                    <th class="cursorPointer">AMBIENTE</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
                <tr *ngFor="let ArGrllPublic of ArregloGrillaPublic">
                    <td>{{ArGrllPublic.TipoPubli}}</td>
                    <td>{{ArGrllPublic.IpPublicacion}}</td>
                    <td>{{ArGrllPublic.Nombre}}</td>
                    <td>{{ArGrllPublic.Descripcion}}</td>                    
                    <td>{{ArGrllPublic.DescripcionEstado}}</td>                    
                    <td>{{ArGrllPublic.DescripcionAmbiente}}</td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Editar" (click)="BtnEditar(templateEditar, ArGrllPublic)">
                            <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Eliminar" (click)="EliminarAdminPublic(templateMensaje, ArGrllPublic)">
                            <img src="../../../../assets/ImagenesAdminCDI/basura.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--fin Grilla-->
    </div>
</div>

<ng-template #templateAgregar>
    <div class="modal-header">
        <p class="titulopopup">AGREGAR</p>
        <button type="button" class="bot" aria-label="Close" (click)="modalAgregar.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <label class="Llave">Tipo</label>
                    <select class="form-select" title="Seleccionar tipo" [(ngModel)]="AddTipo">
                        <option value="0" selected>Seleccione tipo</option>
                        <option value="1">Aplicación</option>
                        <option value="2">Base de datos</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Ip</label>
                    <input type="text" class="col-sm-6 form-control" title="Ip" [(ngModel)]="AddLblIp" required>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Nombre</label>
                    <input type="text" value="" class="col-sm-6 form-control" title="Nombre" [(ngModel)]="AddLblNombre"
                        required>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Descripción</label>
                    <textarea class="md-textarea form-control" rows="2" [(ngModel)]="AddLblDescripcion"
                        required></textarea>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Estado</label>
                    <select class="form-select" title="Seleccionar estado" [(ngModel)]="AddEstado" required>
                        <option value="0" selected>Seleccione estado</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Ambiente</label>
                    <select class="form-select" title="Seleccionar Ambiente" [(ngModel)]="AddAmbiente" required>
                        <option value="0" selected>Seleccione Ambiente</option>
                        <option value="1">Pruebas</option>
                        <option value="2">Productivo</option>
                    </select>
                </div>
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar"
                        (click)="AgregarAdminPublic(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalAgregar.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>
<ng-template #templateEditar>
    <div class="modal-header">
        <p class="titulopopup">Editar</p>
        <button type="button" class="bot" aria-label="Close" (click)="modalEditar.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <label class="Llave">Tipo</label>
                    <select class="form-select" title="Seleccionar tipo" [(ngModel)]="EditTipo">
                        <option value="0" selected>Seleccione tipo</option>
                        <option value="1">Aplicación</option>
                        <option value="2">Base de datos</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Ip</label>
                    <input type="text" class="col-sm-6 form-control" title="Ip" [(ngModel)]="EditLblIp">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Nombre</label>
                    <input type="text" value="" class="col-sm-6 form-control" title="Nombre" [(ngModel)]="EditLblNombre">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Descripción</label>
                    <textarea class="md-textarea form-control" rows="2" [(ngModel)]="EditLblDescripcion"></textarea>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Estado</label>
                    <select class="form-select" title="Seleccionar estado" [(ngModel)]="EditEstado">
                        <option value="0" selected>Seleccione estado</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Ambiente</label>
                    <select class="form-select" title="Seleccionar Ambiente" [(ngModel)]="EditAmbiente">
                        <option value="0" selected>Seleccione Ambiente</option>
                        <option value="1">Pruebas</option>
                        <option value="2">Productivo</option>
                    </select>
                </div>
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar" (click)="EditarAdminPublic(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2" >
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalEditar.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>

<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>