<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <p class="col-12 tituloformulario">SERVIDORES</p>
    </div>
    <div class="row mt-3">

        <!--Ayuda SO-->
        <div class="col-sm-6 m-0 mb-3">
            <label class="Llave">Ip servidor</label>
            <input type="text" class="form-control table-bordered" #Ip title="Sistema operativo" [(ngModel)]="lblSO"
                (keyup)="Grilla(Ip.value, Estado.value,  Selecusuario.value)">
        </div>
        <!--Fin ayuda-->

        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <label class="Llave">Seleccionar estado</label>
            <select class="form-select" title="Seleccionar Estado" #Estado [(ngModel)]="IdEstado"
                (change)='Grilla(Ip.value, Estado.value,  Selecusuario.value)'>
                <option value="2" selected>Seleccionar Estado</option>
                <option value="1" selected>Activo</option>
                <option value="0" selected>Desactivado</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Tipo lista-->
        <div class="col-sm-6 m-0 mb-3 ">
            <label class="Llave">Seleccionar tipo servidor </label>
            <select class="form-select" title="Seleccionar usuario" [(ngModel)]="IdUsuario" #Selecusuario
                (change)='Grilla(Ip.value, Estado.value,  Selecusuario.value)'>
                <option value="0" selected>Seleccionar tipo servidor</option>
                <option value="{{arRespu.Id_Tipo_S}}" *ngFor="let arRespu of ArregloListaUsuario">{{arRespu.Descripcion}}</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" (click)="Limpiar()">
                <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                Limpiar
            </button>

            <button *ngIf="ArregloGrilla.length > 0" class="btn btn-dark col-sm-2 mrd"
                (click)="DescargarDatosPdf(templateMensaje)">
                <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png" class="BtnimgTamanoPeque mr-2">
                Descargar PDF
            </button>

            <button *ngIf="ArregloGrilla.length > 0" class="btn btn-dark col-sm-2 mrd"
                (click)="BtnExportarExcel(templateMensaje)">
                <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png" class="BtnimgTamanoPeque mr-2">
                Descarga excel
            </button>

            <button class="btn btn-dark col-sm-2 mrd" (click)="BtnNuevo(templateAgregar)">
                <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>
        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="row mt-4">
            <div class="col-lg-12 mx-auto">
                <table class="table table-bordered text-center">
                    <tr>
                        <th colspan="12">SERVIDORES</th>
                    </tr>
                    <tr>
                        <th class="cursorPointer">IP</th>
                        <th class="cursorPointer">ESTADO</th>
                        <th class="cursorPointer">TIPO</th>
                        <th class="cursorPointer">IP PUBLICA</th>
                        <th class="cursorPointer">APLICACIONES IIS</th>
                        <th class="cursorPointer">BASE DE DATOS</th>
                        <th class="cursorPointer">ULTIMA MOD</th>
                        <th class="cursorPointer">FECHA ULTIMA MOD</th>

                        <th>EDITAR</th>
                        <th>VER</th>
                        <th>ELIMINAR</th>
                    </tr>
                    <tr *ngFor="let ArGrilla of ArregloGrilla">
                        <td>{{ArGrilla.Ip_S}}</td>
                        <td *ngIf="ArGrilla.Estado == 1">Activo</td>
                        <td *ngIf="ArGrilla.Estado == 0">Inactivo</td>
                        <td>{{ArGrilla.TipoServidor}}</td>
                        <td>{{ArGrilla.IpPublica}}</td>
                        <td>{{ArGrilla.AplicacionesIIS}}</td>
                        <td>{{ArGrilla.BaseDeDatos}}</td>
                        <td>{{ArGrilla.UsuarioUltMod}}</td>
                        <td>{{ArGrilla.Fecha_Ult_Mod}}</td>

                        <td class="text-center">
                            <button class="BtnClaro mrd m-auto text-center" title="Editar"
                                (click)="EditarServidor(templateEditarServidor, ArGrilla)">
                                <img src="../../../../assets/ImagenesAdminCDI/editar.png"
                                    class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="BtnClaro mrd m-auto text-center" title="Ver"
                                (click)="VerDetalle(templateVerDetalles, templateMensaje, ArGrilla)">
                                <img src="../../../../assets/ImagenesAdminCDI/ojo.png" class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="BtnClaro mrd m-auto text-center" title="Eliminar"
                                (click)="EliminaServidor(templateMensaje, ArGrilla)">
                                <img src="../../../../assets/ImagenesAdminCDI/basura.png"
                                    class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--fin Grilla-->

    </div>
</div>

<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateAgregar let-modal>
    <div class="modal-header">
        <p class="titulopopup">AGREGAR SERVIDOR</p>
        <button type="button" class="bot" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <label class="Llave">IP local</label>
                    <input type="text" value="" class="col-sm-6 form-control" [(ngModel)]="LblIpServidor"
                        title="Ip Servidor">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Nombre servidor</label>
                    <input type="text" value="" class="col-sm-6 form-control" [(ngModel)]="LblNombre"
                        title="Nombre Servidor">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Observación</label>
                    <textarea class="md-textarea form-control" [(ngModel)]="LblObservacion" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Software instalado</label>
                    <textarea class="md-textarea form-control" [(ngModel)]="LblSoftware" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Sistema operativo</label>
                    <input type="text" value="" [(ngModel)]="LblSO" class="col-sm-6  form-control"
                        title="Sistema Operativo">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Estado</label>
                    <select class="form-select" title="Seleccionar estado" [(ngModel)]="IdEstadoAgregar">
                        <option value="2">Seleccione estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Desabilitado</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Procesador</label>
                    <input type="text" class="form-control" title="Procesador" [(ngModel)]="LblProcesadorAgregar">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Disco duro</label>
                    <input type="text" class="form-control" title="Disco duro" [(ngModel)]="LblDiscoDuroAgregar">
                </div>

                <div class="col-12 mt-3">
                    <label class="Llave">Ram</label>
                    <input type="text" class="form-control" title="Ram" [(ngModel)]="LblRamAgregar">
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Tipo servidor</label>
                    <select class="form-select" title="Seleccionar tipo servidor" #TipoSerAgrega [(ngModel)]="Id_TipoServidor"
                    (change)='ChangueAgregarTipoServidor(TipoSerAgrega.value)'>
                        <option value="0">Seleccione tipo servidor</option>
                        <option value="{{arRespu.Id_Tipo_S}}" *ngFor="let arRespu of ArregloListaTipoServidor">
                            {{arRespu.Descripcion}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Servidor aloja</label>
                    <select class="form-select" title="Seleccionar servidor aloja" [(ngModel)]="IdServidorAloja"
                        [disabled]="Id_TipoServidor != '2'">
                        <option value="0">Seleccione servidor aloja</option>
                        <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}
                    </select>
                </div>

                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxIpAgregar" (change)='ChangeCheck(checkboxIpAgregar, "IpAgregar", LblIpPublicaAgregar)'>
                        <label class="form-check-label" #IpPublicaAgregar for="flexSwitchCheckDefault">Ip publica</label>
                    </div>
                </div>

                <div class="col-9 mt-3">
                    <textarea class="md-textarea form-control" [disabled]="!checkboxIpAgregar" id="IpAgregar" [(ngModel)]="LblIpPublicaAgregar" rows="2"
                        placeholder="IP publica con puertos activos"></textarea>
                </div>

                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxAppsAgregar" (change)='ChangeCheck(checkboxAppsAgregar, "AppsAgregar", LblAplicacionesIISAgregar)'>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Aplicaciones IIS</label>
                    </div>
                </div>

                <div class="col-9 mt-3">
                    <textarea class="md-textarea form-control" [disabled]="!checkboxAppsAgregar" id="AppsAgregar" [(ngModel)]="LblAplicacionesIISAgregar" rows="2"
                        placeholder="Descripción general de las aplicaciones en el IIS"></textarea>
                </div>

                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxBDAgregar" (change)='ChangeCheck(checkboxBDAgregar, "BdAgregar", LblBaseDeDatosAgregar)'>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Base de datos</label>
                    </div>
                </div>

                <div class="col-9 mt-3">
                    <textarea class="md-textarea form-control" [disabled]="!checkboxBDAgregar" id="BdAgregar" [(ngModel)]="LblBaseDeDatosAgregar" rows="2"
                        placeholder="Base de datos existentes"></textarea>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Usuario</label>
                    <input type="text" class="col-sm-6 form-control" [(ngModel)]="LblUsuarios" title="Usuario">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Contraseña</label>
                    <input type="text" class="col-sm-6 form-control" [(ngModel)]="LblPassword" title="Contraseña">
                </div>
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar"
                        (click)="AgregarServidor(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modal.dismiss('Cross click')">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
    </div>
</ng-template>

<ng-template #templateVerDetalles let-modal>
    <div class="modal-header">
        <p class="titulopopup">DETALLE</p>
        <button type="button" class="bot" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="mrd mld">
        <div class="row texto">
            <div class="row texto" id="htmlData_">
                <div class="col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label class="Llave TextMay">IP local:&nbsp;</label><label
                                    class="ValorIDOfer"><strong>{{ArrVerDetalles.Ip_S}}</strong></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label class="Llave">Nombre:&nbsp;</label><label
                                    class="Valor"><strong>{{ArrVerDetalles.Nombre}}</strong></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Observación:&nbsp;</label><label class="Valor">{{ArrVerDetalles.Observacion}}</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Software instalado:&nbsp;</label><label class="Valor">{{ArrVerDetalles.Software}}</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Sistema operativo:&nbsp;</label> <label class="Valor">{{ArrVerDetalles.SO}}</label>
                    </div>
                    <div class="col-sm-12" *ngIf="ArrVerDetalles.Estado == '1'">
                        <label class="Llave">Estado:&nbsp;</label><label class="Valor">Activo</label>
                    </div>
                    <div class="col-sm-12" *ngIf="ArrVerDetalles.Estado != '1'">
                        <label class="Llave">Estado:&nbsp;</label><label class="Valor">Inactivo</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Procesador:&nbsp;</label><label class="Valor">{{ArrVerDetalles.Procesador}}</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Disco duro:&nbsp;</label><label class="Valor">{{ArrVerDetalles.DiscoDuro}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="Llave">RAM:&nbsp;</label><label class="Valor">{{ArrVerDetalles.RAM}}</label>
                    </div>
                    <hr>
                    <div class="col-sm-12" *ngIf="ArrVerDetalles.IdTipoServidor == '1'">
                        <label class="Llave">Tipo servidor:&nbsp;</label><label class="Valor">Fisico</label>
                    </div>
                    <div class="col-sm-12" *ngIf="ArrVerDetalles.IdTipoServidor != '1'">
                        <label class="Llave">Tipo servidor:&nbsp;</label><label class="Valor">Virtual</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Servidor aloja:&nbsp;</label><label class="Valor">{{ArrVerDetalles.Servidor_Aloja}}</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Aplicaciones IIS:&nbsp;</label><label class="Valor">{{ArrVerDetalles.IpPublica}}</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Aplicaciones IIS:&nbsp;</label><label class="Valor">{{ArrVerDetalles.AplicacionesIIS}}</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="Llave">Base de datos:&nbsp;</label><label class="Valor">{{ArrVerDetalles.BaseDeDatos}}</label>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="Llave">Usuario:&nbsp;</label><label class="Valor">{{ArrVerDetalles.Usuario_Ser}}</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Llave">Contraseña:&nbsp;</label><label class="Valor">{{ArrVerDetalles.Password}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row displayCenter col-12 mt-3" style="margin-bottom: 10px;">
            <button class="btn btn-dark col-sm-4 mrd" title="Cancelar" (click)="modal.dismiss('Cross click')">
                <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                Aceptar
            </button>
        </div>
    </div>
</ng-template>


<ng-template #templateEditarServidor let-modal>
    <div class="modal-header">
        <p class="titulopopup">EDITAR SERVIDOR</p>
        <button type="button" class="bot" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <label class="Llave">Ip local</label>
                    <input type="text" class="col-sm-6 form-control" [(ngModel)]="LblIpServidorEdit"
                        title="Ip Servidor">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Nombre servidor</label>
                    <input type="text" class="col-sm-6 form-control" [(ngModel)]="LblNombreEdit"
                        title="Nombre Servidor">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Observación</label>
                    <textarea class="md-textarea form-control" [(ngModel)]="LblObservacionEdit" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Software instalado</label>
                    <textarea class="md-textarea form-control" [(ngModel)]="LblSoftwareEdit" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Sistema Operativo</label>
                    <input type="text" [(ngModel)]="LblSOEdit" class="col-sm-6 form-control" title="Sistema Operativo">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Estado</label>
                    <select class="form-select" title="Seleccionar estado" [(ngModel)]="IdEstadoAgregarEdit">
                        <option value="1">Activo</option>
                        <option value="0">Desabilitado</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Procesador</label>
                    <input type="text" class="form-control" title="Procesador" [(ngModel)]="ArrayEditar.Procesador">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Disco duro</label>
                    <input type="text" class="form-control" title="Disco duro" [(ngModel)]="ArrayEditar.DiscoDuro">
                </div>

                <div class="col-12 mt-3">
                    <label class="Llave">Ram</label>
                    <input type="text" class="form-control" title="Ram" [(ngModel)]="ArrayEditar.RAM">
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Tipo servidor</label>
                    <select class="form-select" title="Seleccionar tipo servidor" #TipoSerEdit [(ngModel)]="ArrayEditar.IdTipoServidor"
                    (change)='ChangueEditTipoServidor(ArrayEditar.TipoServidor)'>
                        <option value="0">Seleccione tipo servidor</option>
                        <option value="{{arRespu.Id_Tipo_S}}" *ngFor="let arRespu of ArregloListaTipoServidor">
                            {{arRespu.Descripcion}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Servidor aloja</label>
                    <select class="form-select" title="Seleccionar servidor aloja" [(ngModel)]="ArrayEditar.Servidor_Aloja"
                        [disabled]="ArrayEditar.IdTipoServidor != '2'">
                        <option value="null">Seleccione servidor aloja</option>
                        <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}
                    </select>
                </div>

                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxIpEditar"  (change)='ChangeCheck(checkboxIpEditar, "IpEditar", ArrayEditar.IpPublica)'>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Ip publica</label>
                    </div>
                </div>

                <div class="col-9 mt-3">
                    <textarea class="md-textarea form-control" #IpPublica [(ngModel)]="ArrayEditar.IpPublica" id="IpEditar" [disabled]="!checkboxIpEditar" rows="2"
                        placeholder="IP publica con puertos activos"></textarea>
                </div>

                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxAppsEditar" (change)='ChangeCheck(checkboxAppsEditar, "AppEditar", ArrayEditar.AplicacionesIIS)'>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Aplicaciones IIS</label>
                    </div>
                </div>

                <div class="col-9 mt-3">
                    <textarea class="md-textarea form-control" #AppIIS [(ngModel)]="ArrayEditar.AplicacionesIIS" id="AppEditar" [disabled]="!checkboxAppsEditar" rows="2"
                        placeholder="Descripción general de las aplicaciones en el IIS"></textarea>
                </div>

                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxBDeDitar" (change)='ChangeCheck(checkboxBDeDitar, "BdEditar", ArrayEditar.BaseDeDatos)'>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Base de datos</label>
                    </div>
                </div>

                <div class="col-9 mt-3">
                    <textarea class="md-textarea form-control" #bd [(ngModel)]="ArrayEditar.BaseDeDatos" id="BdEditar" [disabled]="!checkboxBDeDitar" rows="2"
                        placeholder="Base de datos existentes"></textarea>
                </div>

                <div class="col-6 mt-3">
                    <label class="Llave">Usuario</label>
                    <input type="text" class="col-sm-6 form-control" [(ngModel)]="ArrayEditar.Usuario_Ser" title="Usuario">
                </div>
                <div class="col-6 mt-3">
                    <label class="Llave">Contraseña</label>
                    <input type="text" class="col-sm-6 form-control" [(ngModel)]="ArrayEditar.Password" title="Contraseña">
                </div>


                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar" (click)="UpdateServDos(templateMensaje, IpPublica.value, AppIIS.value, bd.value)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modal.dismiss('Cross click')">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>

    </div>

</ng-template>