<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <h5 class="col-12 tituloformulario">Servidores</h5>
    </div>
    <div class="row mt-3">
        <!--Ayuda Nombre-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" #NombreServidor placeholder="Nombre servidor"
                title="IP" [(ngModel)]="lblNombreservidor"
                (keyup)="Grilla(NombreServidor.value, SO.value, Estado.value,  Selecusuario.value)">
        </div>
        <!--Fin ayuda-->

        <!--Ayuda SO-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" #SO placeholder="Sistema operativo"
                title="Sistema operativo" [(ngModel)]="lblSO"
                (keyup)="Grilla(NombreServidor.value, SO.value, Estado.value,  Selecusuario.value)">
        </div>
        <!--Fin ayuda-->

        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar Estado" #Estado [(ngModel)]="IdEstado"
                (change)='Grilla(NombreServidor.value, SO.value, Estado.value,  Selecusuario.value)'>
                <option value="2" selected>Seleccionar Estado</option>
                <option value="1" selected>Activo</option>
                <option value="0" selected>Desactivado</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Tipo lista-->
        <div class="col-sm-6 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar usuario" [(ngModel)]="IdUsuario" #Selecusuario
                (change)='Grilla(NombreServidor.value, SO.value, Estado.value,  Selecusuario.value)'>
                <option value="0" selected>Seleccione usuario</option>
                <option value="{{arRespu.Id_U}}" *ngFor="let arRespu of ArregloListaUsuario">{{arRespu.Nombre}}</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" title="Limpiar" (click)="Limpiar()">
                <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                Limpiar
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Descargar PDF"
                (click)="DescargarDatosPdf(templateMensaje)">
                <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png" class="BtnimgTamanoPeque mr-2">
                Descargar PDF
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Exportar Excel"
                (click)="BtnExportarExcel(templateMensaje)">
                <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png" class="BtnimgTamanoPeque mr-2">
                Descarga excel
            </button>

            <button class="btn btn-dark col-sm-2 mrd" title="Nuevo" (click)="BtnNuevo(templateAgregar)">
                <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>
        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="col-sm-12 mt-5">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="10">Servidores</th>
                </tr>
                <tr>
                    <th class="cursorPointer">Ip</th>
                    <th class="cursorPointer">Nombre</th>
                    <th class="cursorPointer">Sistema Operativo</th>
                    <th class="cursorPointer">Software</th>
                    <th class="cursorPointer">Estado</th>
                    <th class="cursorPointer">Ultima mod</th>
                    <th class="cursorPointer">Observación</th>
                    <th class="cursorPointer">Tipo Servidor</th>
                    <th class="cursorPointer">Fecha ultima Mod</th>

                    <th>Editar</th>
                    <th>Ver</th>
                </tr>
                <tr *ngFor="let ArGrilla of ArregloGrilla">
                    <td>{{ArGrilla.Ip_S}}</td>
                    <td>{{ArGrilla.Nombre}}</td>
                    <td>{{ArGrilla.SO}}</td>
                    <td>{{ArGrilla.Software}}</td>

                    <td *ngIf="ArGrilla.Estado == 1">Exitoso</td>
                    <td *ngIf="ArGrilla.Estado == 0">Error</td>

                    <td>{{ArGrilla.UsuarioUltMod}}</td>
                    <td>{{ArGrilla.Observacion}}</td>
                    <td>{{ArGrilla.TipoServidor}}</td>
                    <td>{{ArGrilla.Fecha_Ult_Mod}}</td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Editar"
                            (click)="Editarbackup(templateEditarServidor, ArGrilla)">
                            <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Ver"
                            (click)="VerDetalle(templateVerDetalles, templateMensaje, ArGrilla)">
                            <img src="../../../../assets/ImagenesAdminCDI/ojo.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--fin Grilla-->
    </div>
</div>

<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateAgregar>
    <div class="modal-header">
        <th class="titulopopup">AGREGAR</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalAgregar.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Ip Servidor" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblIpServidor" title="Ip Servidor">
                </div>
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Nombre Servidor" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblNombre" title="Nombre Servidor">
                </div>
                <div class="col-6 mt-3">
                    <textarea class="md-textarea form-control textarea" [(ngModel)]="LblObservacion"
                        placeholder="Observacion" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <textarea class="md-textarea form-control textarea" [(ngModel)]="LblSoftware"
                        placeholder="Software Instalado" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Sistema Operativo" [(ngModel)]="LblSO"
                        class="col-sm-6 text-center form-control" title="Sistema Operativo">
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar estado" [(ngModel)]="IdEstadoAgregar">
                        <option value="2">Seleccione estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Desabilitado</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar tipo servidor" [(ngModel)]="Id_TipoServidor">
                        <option value="0">Seleccione tipo servidor</option>
                        <option value="{{arRespu.Id_Tipo_S}}" *ngFor="let arRespu of ArregloListaTipoServidor">
                            {{arRespu.Descripcion}}
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar servidor aloja" [(ngModel)]="IdServidorAloja">
                        <option value="0">Seleccione servidor aloja</option>
                        <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Usuario" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblUsuarios" title="Usuario">
                </div>
                <div class="col-6 mt-3">
                    <input type="password" value="" placeholder="Contraseña" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblPassword" autocomplete="off" title="Contraseña">
                </div>
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar"
                        (click)="AgregarServidor(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalAgregar.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>

<ng-template #templateVerDetalles let-modal>
    <div class="modal-header">
        <p class="titulopopup">VER</p>
        <button type="button" class="bot" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="mrd mld" id="htmlData_">
        <div class="row texto text-center">
            <!--Para el editar-->
        </div>
        <div class="row texto text-center">

            <div class="col-sm-6 mt-3">
                <table class="table table-bordered text-center tablaAjuste">
                    <tr style="background-color: teal; color: #000000;">
                        <th colspan="4">Detalles servidor</th>
                    </tr>
                    <tr>
                        <th class="cursorPointer">Usuario</th>
                        <th class="cursorPointer">Contraseña</th>
                        <th class="cursorPointer">Servidor donde se ubica</th>
                        <th class="cursorPointer">Editar</th>
                    </tr>
                    <tr>
                        <td>{{LblUsuario}}</td>
                        <td>{{LblPasswordVer}}</td>
                        <td>{{LblServidor}}</td>
                        <td><button class="BtnClaro mrd m-auto text-center" title="Editar">
                                <img src="../../../../assets/ImagenesAdminCDI/editar.png"
                                    class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6 mt-3">
                <table class="table table-bordered text-center tablaAjuste">
                    <tr style="background-color: teal; color: #000000;">
                        <th colspan="4">Detalles Hardware</th>
                    </tr>
                    <tr>
                        <th class="cursorPointer">Disco duro</th>
                        <th class="cursorPointer">Ram</th>
                        <th class="cursorPointer">Procesador</th>
                        <th class="cursorPointer">Editar</th>
                    </tr>
                    <tr *ngFor="let ArGrilla of ArrListaHardware">
                        <td>{{ArGrilla.DiscoDuro}}</td>
                        <td>{{ArGrilla.RAM}}</td>
                        <td>{{ArGrilla.Procesador}}</td>
                        <td><button class="BtnClaro mrd m-auto text-center" title="Editar">
                                <img src="../../../../assets/ImagenesAdminCDI/editar.png"
                                    class="BtnimgTamanoPeque mr-2">
                            </button>
                        </td>
                    </tr>
                </table>

                <div class="col-sm-12" *ngIf="AuxiliarDiv == true">
                    <button class="btn btn-dark col-sm-2 mrd" title="Nuevo"
                        (click)="AbrirpopapHardware(templateAgregarHARDWARE)">
                        <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                        Agregar
                    </button>
                </div>
            </div>


        </div>
    </div>
</ng-template>


<ng-template #templateEditarServidor>
    <div class="modal-header">
        <th class="titulopopup">EDITAR</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalEditarServidor.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Ip Servidor" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblIpServidorEdit" title="Ip Servidor">
                </div>
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Nombre Servidor" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblNombreEdit" title="Nombre Servidor">
                </div>
                <div class="col-6 mt-3">
                    <textarea class="md-textarea form-control textarea" [(ngModel)]="LblObservacionEdit"
                        placeholder="Observacion" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <textarea class="md-textarea form-control textarea" [(ngModel)]="LblSoftwareEdit"
                        placeholder="Software Instalado" rows="3"></textarea>
                </div>
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Sistema Operativo" [(ngModel)]="LblSOEdit"
                        class="col-sm-6 text-center form-control" title="Sistema Operativo">
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar estado" [(ngModel)]="IdEstadoAgregarEdit">
                        <option value="1">Activo</option>
                        <option value="0">Desabilitado</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar tipo servidor" [(ngModel)]="Id_TipoServidorEdit">
                        <option value="{{Id_TipoServidorEdit}}">{{Id_TipoServidorEdit}}</option>
                        <option value="{{arRespu.Id_Tipo_S}}" *ngFor="let arRespu of ArregloListaTipoServidor">
                            {{arRespu.Descripcion}}
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar servidor aloja" [(ngModel)]="IdServidorAlojaEdit">
                        <option value="0">Seleccione servidor aloja</option>
                        <option value="{{arRespu.Id_S}}" *ngFor="let arRespu of ArregloListaServidor">{{arRespu.Nombre}}
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <input type="text" value="" placeholder="Usuario" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblUsuariosEdit" title="Usuario">
                </div>
                <div class="col-6 mt-3">
                    <input type="password" value="" placeholder="Contraseña" class="col-sm-6 text-center form-control"
                        [(ngModel)]="LblPasswordEdit" autocomplete="off" title="Contraseña">
                </div>
                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar"
                        (click)="AgregarServidor(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalEditarServidor.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>














<ng-template #templateAgregarHARDWARE>
    <div class="modal-header">
        <th class="titulopopup">AGREGAR HARDWARE</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalAgregarHardware.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">

                <div class="col-12 mt-3">
                    <input type="text" placeholder="Disco duro" class="form-control" title="Disco duro" [(ngModel)]="LblDiscoDuro">
                </div>

                <div class="col-12 mt-3">
                    <input type="text" placeholder="Ram" class="form-control" title="Ram" [(ngModel)]="LblRam">
                </div>

                <div class="col-12 mt-3">
                    <input type="text" placeholder="Procesador" class="form-control" title="Procesador" [(ngModel)]="LblProcesador">
                </div>

                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar" (click)="InsetHardware(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalAgregarHardware.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>