<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">AdminCDI <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/admin.png">
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <div class="menu">

      <li class="titulopopup services cursorPointer" (click)="VerHome()"><a class="titulopopup"><a>Home</a>
        <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/home.png" class="BtnimgTamanoPeque mr-2"></a>
      </li>

      <li class="titulopopup services cursorPointer"> <a (click)="VerPgBackup()">Backups<img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/backup.png" class="BtnimgTamanoPeque mr-2"></a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li class="cursorPointer">
            <a>Tipo Backup</a>
          </li>
          <li><a>Dropdown 1</a></li>
          <li><a>Dropdown 2</a></li>
        </ul>
      </li>

      <li class="services titulopopup cursorPointer" (click)="VerPgServidores()">
        <a>Servidores <img src="../../../../assets/ImagenesAdminCDI/servidores.png" class="BtnimgTamanoPeque mr-2"></a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li class="cursorPointer"><a>Tipo<img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/servidores.png" class="BtnimgTamanoPeque mr-2"></a></li>
          <li><a>Hardware<img src="../../../../assets/ImagenesAdminCDI/ram.png" class="BtnimgTamanoPeque mr-2"></a></li>
        </ul>
      </li>
      
      <li class="titulopopup services cursorPointer">
        <a>Clientes <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/clientes.png" class="BtnimgTamanoPeque mr-2"></a>
      </li>
      
      <li class="titulopopup services cursorPointer">
        <a>Proyectos</a> <img src="../../../assets/ImagenesAdminCDI/proyecto.png" style="margin-left: 5px;" class="BtnimgTamanoPeque mr-2">
      </li>

      <li class="titulopopup services cursorPointer">
        <a>Usuarios <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/usuarios.png" class="BtnimgTamanoPeque mr-2"></a>
      </li>

      <li>
        <img src="../../../assets/ImagenesAdminCDI/apagar.png" style="margin-left: 5px;" class="cursorPointer BtnimgCerrarCesion mr-2" (click)="Cerrar()">
      </li>
    </div>
  </ul>
</nav>

<router-outlet></router-outlet>