<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">
    <img style="margin-left: 5px" src="../../../../assets/ImagenesAdminCDI/usuario.png" class="BtnimgUsuario mr-2" />
    Hola, {{NombreUsu}} Bienvenido
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <div class="menu">


      <li class="titulopopup services cursorPointer" (click)="VerHome()"><a class="titulopopup"><a>Home</a>
          <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/home.png"
            class="BtnimgTamanoPeque mr-2"></a>
      </li>

      <li class="titulopopup services cursorPointer"> <a (click)="VerPgBackup()">Backups<img style="margin-left: 5px;"
            src="../../../../assets/ImagenesAdminCDI/backup.png" class="BtnimgTamanoPeque mr-2"></a>

        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li class="li cursorPointer" (click)="VerPgTipoBackup()">
            <a href="home/Pgtipobackup">Tipo Backup</a>
          </li>
        </ul>
      </li>

      <li class="services titulopopup cursorPointer">
        <a (click)="VerPgServidores()">Servidores <img src="../../../../assets/ImagenesAdminCDI/servidores.png"
            class="BtnimgTamanoPeque mr-2"></a>
      </li>

      <li class="titulopopup services cursorPointer" (click)="VerPgProyectos()">
        <a>Proyectos</a> <img src="../../../assets/ImagenesAdminCDI/proyecto.png" style="margin-left: 5px;"
          class="BtnimgTamanoPeque mr-2">
      </li>

      <li *ngIf="AminUser=='1'" class="titulopopup services cursorPointer" (click)="VerPgUsuarios()">
        <a>Usuarios <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/usuarios.png"
            class="BtnimgTamanoPeque mr-2"></a>
      </li>

      <li class="services titulopopup cursorPointer">
        <img style="margin-left: 5px;" src="../../../../assets/ImagenesAdminCDI/flechahaciaabajo.png"
          class="BtnimgTamanoPeque mr-2">
        <ul class="dropdownCerrar">
          <li class="services cursorPointer" (click)="VerPgUsuario()">
            <img src="../../../assets/ImagenesAdminCDI/usuario.png" style="margin-left: 5px;"
              class="BtnimgTamanoPeque mr-2">
          </li>
          <li class="services cursorPointer" (click)="Cerrar()">
            <img src="../../../assets/ImagenesAdminCDI/apagar.png" style="margin-left: 5px;"
              class="BtnimgTamanoPeque mr-2">
          </li>
          
        </ul>
      </li>

    </div>
  </ul>
</nav>

<router-outlet></router-outlet>

<ng-template #templateMensaje>
  <div class="modaBody">
    <div class="col-12">
      <p class="pModals">{{ lblModalMsaje }}</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-0">
      <button class="btn btn btn-dark bot" (click)="this.modalMensaje.hide()" title="Cerrar ventana">
        Aceptar
      </button>
    </div>
  </div>
  <br>
</ng-template>

