<div class="container bg-white pt-5 pb-5">
  <div class="row justify-content-center">
    <h3 class="col-12 tituloformulario">Tipos Backups</h3>
  </div>
  <div class="row mt-3">
    <!--Ayuda Descripcion-->
    <div class="col-sm-12 m-0 mb-3 displayFlexbetween">
      <input
        type="text"
        class="form-control table-bordered"
        #Descripcion
        placeholder="Descripcion"
        [(ngModel)]="lblDescripcion"
        (keyup)="consultaTipoBackup(Descripcion.value)"
        title="Descripcion"
      />
    </div>
    <!--Fin ayuda-->

    <!--Botones-->
    <div class="row displayCenter col-12 mt-3">
      <button class="btn btn-dark col-sm-2 mrd" title="Limpiar">
        <img
          src="../../../../assets/ImagenesAdminCDI/Limpiar.png"
          class="BtnimgTamanoPeque mr-2"
        />
        Limpiar
      </button>

      <button class="btn btn-dark col-sm-2 mrd" title="Descargar PDF">
        <img
          src="../../../../assets/ImagenesAdminCDI/descargarpdf.png"
          class="BtnimgTamanoPeque mr-2"
        />
        Descargar PDF
      </button>

      <button class="btn btn-dark col-sm-2 mrd" title="Exportar Excel">
        <img
          src="../../../../assets/ImagenesAdminCDI/descargarexcel.png"
          class="BtnimgTamanoPeque mr-2"
        />
        Descarga excel
      </button>

      <button class="btn btn-dark col-sm-2 mrd" title="Nuevo">
        <img
          src="../../../../assets/ImagenesAdminCDI/agregar.png"
          class="BtnimgTamanoPeque mr-2"
        />
        Agregar
      </button>
    </div>
    <!--Fin botones-->

    <!--Grilla-->
    <div class="col-sm-12 mt-5">
      <table class="table table-bordered text-center">
        <tr>
          <th colspan="4">Tipos Backups</th>
        </tr>
        <tr>
          <th class="cursorPointer">Id</th>
          <th class="cursorPointer">Descripcion</th>
          <th>Editar</th>

        </tr>
        <tr *ngFor="let ArGrilla of ArrayGrilla">
          <td>{{ArGrilla.Id_Tipo_BCK}}</td>
          <td>{{ArGrilla.Descripcion}}</td>
          <td class="text-center">
            <button class="BtnClaro mrd m-auto text-center" title="Editar">
                <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
            </button>
        </td>
        </tr>
      </table>
    </div>
    <!--fin Grilla-->
  </div>
</div>
