<div class="container bg-white pt-5 pb-5">
    <!--Proyecto-->
    <div class="row justify-content-center ">
        <div class="col-sm-6 m-0">
            <div class="row justify-content-center ">
                <h5 class="col-12 tituloformulario">Proyectos</h5>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
                    <input type="text" class="form-control table-bordered" #Nombre placeholder="Nombre" title="Nombre"
                        [(ngModel)]="LblNombre" (keyup)="consultaproyectos(Nombre.value, Cliente.value)">
                </div>

                <div class="col-sm-6 m-0 mb-3 ">
                    <select class="form-select" title="Seleccionar Cliente" #Cliente
                        (change)="consultaproyectos(Nombre.value, Cliente.value)">
                        <option value="0" selected>Seleccione Cliente</option>
                        <!--<option value="{{arRespu.Id_U}}" *ngFor="let arRespu of ArregloListaUsuario">{{arRespu.Nombre}}</option>-->
                    </select>
                </div>

                <!--Botones-->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-2 mrd" title="Limpiar">
                        <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                        Limpiar
                    </button>

                    <button class="btn btn-dark col-sm-2 mrd" title="Descargar PDF">
                        <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png" class="BtnimgTamanoPeque mr-2">
                        Descargar PDF
                    </button>

                    <button class="btn btn-dark col-sm-2 mrd" title="Exportar Excel">
                        <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png"
                            class="BtnimgTamanoPeque mr-2">
                        Descarga excel
                    </button>

                    <button class="btn btn-dark col-sm-2 mrd" title="Nuevo">
                        <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                        Agregar
                    </button>
                </div>
                <!--Fin botones-->

                <!--Grilla-->
                <div class="col-sm-12 mt-5">
                    <table class="table table-bordered text-center">
                        <tr>
                            <th colspan="10">Proyectos</th>
                        </tr>
                        <tr>
                            <th class="cursorPointer">Identificador</th>
                            <th class="cursorPointer">Nombre</th>
                            <th class="cursorPointer">Cliente</th>

                            <th>Editar</th>
                            <th>Ver</th>
                        </tr>
                        <tr *ngFor="let ArGrilla of ArrayConsultaProyecto">
                            <td>{{ArGrilla.Id_PRY}}</td>
                            <td>{{ArGrilla.Nombre}}</td>
                            <td>{{ArGrilla.DescripcionCliente}}</td>

                            <td class="text-center">
                                <button class="BtnClaro mrd m-auto text-center" title="Editar">
                                    <img src="../../../../assets/ImagenesAdminCDI/editar.png"
                                        class="BtnimgTamanoPeque mr-2">
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="BtnClaro mrd m-auto text-center" title="Ver">
                                    <img src="../../../../assets/ImagenesAdminCDI/ojo.png"
                                        class="BtnimgTamanoPeque mr-2">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--fin Grilla-->
            </div>
        </div>

        <!--Cliente-->
        <div class="col-sm-6 m-0">
            <div class="col-sm-12 m-0">
                <div class="row justify-content-center ">
                    <h5 class="col-12 tituloformulario">Clientes</h5>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
                        <input type="text" class="form-control table-bordered" #Descripcion placeholder="Descripción"
                            title="Descripción" [(ngModel)]="LblDescripcion" (keyup)="consultaclientes(Descripcion.value)">
                    </div>

                    <!--Botones-->
                    <div class="row displayCenter col-12 mt-3">
                        <button class="btn btn-dark col-sm-2 mrd" title="Limpiar">
                            <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                            Limpiar
                        </button>

                        <button class="btn btn-dark col-sm-2 mrd" title="Descargar PDF">
                            <img src="../../../../assets/ImagenesAdminCDI/descargarpdf.png"
                                class="BtnimgTamanoPeque mr-2">
                            Descargar PDF
                        </button>

                        <button class="btn btn-dark col-sm-2 mrd" title="Exportar Excel">
                            <img src="../../../../assets/ImagenesAdminCDI/descargarexcel.png"
                                class="BtnimgTamanoPeque mr-2">
                            Descarga excel
                        </button>

                        <button class="btn btn-dark col-sm-2 mrd" title="Nuevo">
                            <img src="../../../../assets/ImagenesAdminCDI/agregar.png" class="BtnimgTamanoPeque mr-2">
                            Agregar
                        </button>
                    </div>
                    <!--Fin botones-->

                    <!--Grilla-->
                    <div class="col-sm-12 mt-5">
                        <table class="table table-bordered text-center">
                            <tr>
                                <th colspan="10">Clientes</th>
                            </tr>
                            <tr>
                                <th class="cursorPointer">Identificador</th>
                                <th class="cursorPointer">Descripción</th>

                                <th>Editar</th>
                                <th>Ver</th>
                            </tr>
                            <tr *ngFor="let ArGrilla of ArrayConsultaCliente">
                                <td>{{ArGrilla.Id_Cliente}}</td>
                                <td>{{ArGrilla.Descripcion}}</td>

                                <td class="text-center">
                                    <button class="BtnClaro mrd m-auto text-center" title="Editar">
                                        <img src="../../../../assets/ImagenesAdminCDI/editar.png"
                                            class="BtnimgTamanoPeque mr-2">
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="BtnClaro mrd m-auto text-center" title="Ver">
                                        <img src="../../../../assets/ImagenesAdminCDI/ojo.png"
                                            class="BtnimgTamanoPeque mr-2">
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--fin Grilla-->
                </div>
            </div>
        </div>
    </div>
</div>