<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <p class="col-12 tituloformulario">Registro Actividades Diarias</p>
    </div>
    <div class="row mt-3">
        <!--Ayuda Nombre-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" placeholder="Usuario"
                title="Usuario">
        </div>
        <!--Fin ayuda-->

        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar Proyecto" #Estado>
                <option selected>Seleccionar Proyecto</option>
                <option value="1">Proyecto 1</option>
                <option value="2">Proyecto 2</option>
                <option value="3">Proyecto 3</option>
                <option value="4">Proyecto 4</option>
                <option value="5">Proyecto 5</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar Tarea" #Estado>
                <option selected>Seleccionar Tarea</option>
                <option value="1">Tarea 1</option>
                <option value="2">Tarea 2</option>
                <option value="3">Tarea 3</option>
                <option value="4">Tarea 4</option>
                <option value="5">Tarea 5</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Ayuda SO-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" #SO placeholder="Descripcion" title="Descripcion">
        </div>
        <!--Fin ayuda-->

        <!--Ayuda SO-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="number" class="form-control table-bordered" #SO placeholder="Tiempo en minutos"
                title="Tiempo en minutos">
        </div>
        <!--Fin ayuda-->


        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" title="Agregar">
                <img src="../../../../assets/ImagenesAdminCDI/AgregarServicio.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>

        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="col-sm-12 mt-5">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="12">Actividades</th>
                </tr>
                <tr>
                    <th class="cursorPointer">Fecha</th>
                    <th class="cursorPointer">Proyecto</th>
                    <th class="cursorPointer">Tarea</th>
                    <th class="cursorPointer">Descripcion</th>
                    <th class="cursorPointer">Tiempo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr>

                    <td>04/05/2022</td>
                    <td>Comfenalco</td>
                    <td>Soporte</td>
                    <td>Actualiza tramite</td>
                    <td>30</td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Editar">
                            <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Eliminar">
                            <img src="../../../../assets/ImagenesAdminCDI/basura.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--fin Grilla-->
    </div>
</div>




<ng-template>
    <div class="modal-header">
        <th class="titulopopup">EDITAR</th>
        <button type="button" class="bot" aria-label="Close">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">

                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar Proyecto">
                        <option value="1">Proyecto 1</option>
                        <option value="2">Proyecto 2</option>
                        <option value="3">Proyecto 3</option>
                        <option value="4">Proyecto 4</option>
                        <option value="5">Proyecto 5</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar Tarea">
                        <option value="1">Tarea 1</option>
                        <option value="2">Tarea 2</option>
                        <option value="3">Tarea 3</option>
                        <option value="4">Tarea 4</option>
                        <option value="5">Tarea 5</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <input type="md-textarea form-control textarea" value="" placeholder="Descripcion"
                        title="Descripcion" class="col-sm-6 text-center form-control">
                </div>

                <div class="col-6 mt-3">
                    <input type="number" value="" placeholder="Tiempo en minutos" title="Tiempo en minutos"
                        class="col-sm-6 text-center form-control">
                </div>

                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>