<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <p class="col-12 tituloformulario">Registro Actividades Diarias</p>
    </div>
    <div class="row mt-3">
        <!--Ayuda Nombre-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control table-bordered" placeholder="Usuario" title="Usuario"
                [(ngModel)]="nombreUsuarioCookies" (keyup)="Grilla(nombreUsuarioCookies, proyecto, tarea)" readonly>
        </div>
        <!--Fin ayuda-->

        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar Proyecto" [(ngModel)]="proyecto" required
                (change)="Grilla(nombreUsuarioCookies, proyecto, tarea)">
                <option value="0">Seleccionar Proyecto</option>
                <option value="{{p.Id_PRY}}" *ngFor="let p of arProyect">
                    {{p.Nombre}}</option>
            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Tipo lista Estado-->
        <div class="col-sm-6 m-0 mb-3 ">
            <select class="form-select" title="Seleccionar Tarea" [(ngModel)]="tarea"
                (change)="Grilla(nombreUsuarioCookies, proyecto, tarea)">
                <option value="0" selected>Seleccionar Tarea</option>
                <option value="{{t.IdTipoTarea}}" *ngFor="let t of arTarea">{{t.Descripcion}}</option>

            </select>
        </div>
        <!--Fin Tipo lista-->

        <!--Botones-->
        <div class="row displayCenter col-12 mt-3">
            <button class="btn btn-dark col-sm-2 mrd" title="Limpiar" (click)="Limpiar()">
                <img src="../../../../assets/ImagenesAdminCDI/Limpiar.png" class="BtnimgTamanoPeque mr-2">
                Limpiar
            </button>
            <button class="btn btn-dark col-sm-2 mrd" title="Agregar" (click)="BtnNuevo(templateAgregar)">
                <img src="../../../../assets/ImagenesAdminCDI/AgregarServicio.png" class="BtnimgTamanoPeque mr-2">
                Agregar
            </button>

        </div>
        <!--Fin botones-->

        <!--Grilla-->
        <div class="col-sm-12 mt-5">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="12">Actividades</th>
                </tr>
                <tr>
                    <th class="cursorPointer">Fecha</th>
                    <th class="cursorPointer">Proyecto</th>
                    <th class="cursorPointer">Tarea</th>
                    <th class="cursorPointer">Descripcion</th>
                    <th class="cursorPointer">Tiempo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr *ngFor="let i of arGrilla">
                    <td>{{i.FechaRegistro}}</td>
                    <td>{{i.Proyecto}}</td>
                    <td>{{i.TipoTarea}}</td>
                    <td style='word-break: break-all; width: 200px; white-space: initial'>{{i.DescripcionTarea}}</td>
                    <td>{{i.Tiempo}}</td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Editar"
                            (click)="BtnEditarActividad(templateeditaractividad, i)">
                            <img src="../../../../assets/ImagenesAdminCDI/editar.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>

                    <td class="text-center">
                        <button class="BtnClaro mrd m-auto text-center" title="Eliminar" (click)="eliminarActividad(templateMensaje, i)">
                            <img src="../../../../assets/ImagenesAdminCDI/basura.png" class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--fin Grilla-->
    </div>
</div>

<ng-template #templateeditaractividad>
    <div class="modal-header">
        <th class="titulopopup">EDITAR ACTIVIDAD</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalEditarActividad.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">

                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar Proyecto" [(ngModel)]="arregloEditar.Id_Pry">
                        <option value="{{p.Id_PRY}}" *ngFor="let p of arProyect">
                            {{p.Nombre}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar Tarea" [(ngModel)]="arregloEditar.IdTipoTarea">
                        <option value="{{t.IdTipoTarea}}" *ngFor="let t of arTarea">{{t.Descripcion}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <textarea class="md-textarea form-control textarea" [(ngModel)]="arregloEditar.DescripcionTarea"
                        placeholder="Descripcion" rows="3" (keyup)="Limpiar()"></textarea>
                </div>

                <div class="col-6 mt-3">
                    <input type="number" placeholder="Tiempo en minutos" title="Tiempo en minutos"
                        class="col-sm-6 text-center form-control" [(ngModel)]="arregloEditar.Tiempo"  (keyup)="Limpiar()">
                </div>

                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar" (click)="ActualizActividad(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar..
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="modalEditarActividad.hide();">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>
<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>
<ng-template #templateAgregar>
    <div class="modal-header">
        <th class="titulopopup">AGREGAR ACTIVIDAD</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalAgregar.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/ImagenesAdminCDI/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <li class="row col-sm-12 displayCenter">
                <div class="col-6 mt-3">
                    <input type="text" class="form-control table-bordered" placeholder="Usuario" title="Usuario"
                        [(ngModel)]="nombreUsuarioCookies" readonly>
                </div>
                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar Proyecto" [(ngModel)]="agregarProyecto" required>
                        <option value="0">Seleccionar Proyecto</option>
                        <option value="{{p.Id_PRY}}" *ngFor="let p of arProyect">
                            {{p.Nombre}}</option>
                    </select>
                </div>

                <div class="col-6 mt-3">
                    <select class="form-select" title="Seleccionar Tarea" [(ngModel)]="agregarTarea">
                        <option value="0" selected>Seleccionar Tarea</option>
                        <option value="{{t.IdTipoTarea}}" *ngFor="let t of arTarea">{{t.Descripcion}}</option>

                    </select>
                </div>

                <div class="col-6 mt-3">
                    <input type="number" class="form-control table-bordered" placeholder="Tiempo en minutos"
                        title="Tiempo en minutos" [(ngModel)]="agregarTiempo">
                </div>

                <div class="col-6 mt-3">
                    <textarea id="form10" class="form-control" rows="6" placeholder="Descripcion" rows="3"
                        [(ngModel)]="agregarDescripcion"></textarea>
                </div>

                <!---Botones--->
                <div class="row displayCenter col-12 mt-3">
                    <button class="btn btn-dark col-sm-3 mrd" title="Guardar"
                        (click)="AgregaActividad(templateMensaje)">
                        <img src="../../../../assets/ImagenesAdminCDI/disquete.png" class="BtnimgTamanoPeque mr-2">
                        Guardar
                    </button>

                    <button class="btn btn-dark col-sm-3 mrd" title="Cancelar" (click)="LimpiaAgregarProyecto()">
                        <img src="../../../../assets/ImagenesAdminCDI/advertencia.png" class="BtnimgTamanoPeque mr-2">
                        Cancelar
                    </button>
                </div>

            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>